// Main info

$main-font: "Open Sans", helvetica, sans-serif;
$main-font-color: #000;
$main-font-size: 14px;
$main-font-weight: 400;
$main-line-height: 1.3;

// Main color

$white: #fff;
$blue: #3598f3;
$gray: #9f9f9f;
$light-black: #36393f;
$black: #2f3136;
$deep-black: #202225;
