{{> header}}
<body>
<main>
    <div class="links-wrapper">
        <p><a href="./login.hbs">Логин</a></p>
        <p><a href="./register.hbs">Регистрация</a></p>
        <p><a href="./settings.hbs">Настройки</a></p>
        <p><a href="./friends.hbs">Список чатов (заглушка)</a></p>
        <p><a href="./chat.hbs">Чат (заглушка)</a></p>
        <p><a href="./404.hbs">404</a></p>
        <p><a href="./500.hbs">500</a></p>
    </div>
</main>
</body>
</html>