{{> header}}
<body>
    <main>
        <div class="outer-wrapper">
            <section class="popup login">
                <div class="login__wrapper">
                    <h1 class="title login__title">Логин</h1>
                    <div class="form">
                        <form>
                            <label class="form__label">
                                <span class="form__title">Ваш адрес электронной почты или номер телефона</span>
                                <input type="text" name="login" id="login" class="form__input">
                            </label>
                            <label class="form__label">
                                <span class="form__title">Пароль</span>
                                <input type="password" name="password" id="password" class="form__input">
                                <a href="#" class="form__link">Забыли пароль?</a>
                            </label>
                            <div class="form__submit-wrapper">
                                <button type="button" class="form__submit">Вход</button>
                            </div>
                            <p class="form__register-tip">Нужна авторизация?  <a href="#" class="form__link">Зарегистрироваться</a></p>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>