{{> header}}
<body>
<main>
    <div class="outer-wrapper">
        <section class="popup login">
            <div class="login__wrapper">
                <h1 class="title login__title">Регистрация</h1>
                <div class="form">
                    <form>
                        <label class="form__label">
                            <span class="form__title">Имя</span>
                            <input type="text" name="first_name" id="first_name" class="form__input">
                        </label>
                        <label class="form__label">
                            <span class="form__title">Фамилия</span>
                            <input type="text" name="second_name" id="second_name" class="form__input">
                        </label>
                        <label class="form__label">
                            <span class="form__title">Логин</span>
                            <input type="text" name="login" id="login" class="form__input">
                        </label>
                        <label class="form__label">
                            <span class="form__title">Электронная почта</span>
                            <input type="text" name="email" id="email" class="form__input">
                        </label>
                        <label class="form__label">
                            <span class="form__title">Пароль</span>
                            <input type="text" name="password" id="password" class="form__input">
                        </label>
                        <label class="form__label">
                            <span class="form__title">Телефон</span>
                            <input type="text" name="phone" id="phone" class="form__input">
                        </label>
                        <div class="form__submit-wrapper">
                            <button type="button" class="form__submit">Вход</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
</body>
</html>