{{> header}}
<main>
    <div class="outer-wrapper">
        <section class="frame">
            <div class="frame__wrapper">
                <div class="frame__content settings">
                    <button class="frame__close" type="button"><img src="../images/cross.svg" alt="Закрыть настройки" height="29" width="29"></button>
                    <div class="form">
                        <form>
                            <div class="form__settings">
                                <div class="form__avatar-section">
                                    <label class="form__label form__label-avatar">
                                        <picture>
                                            <img src="../images/worry.png" alt="Ваш Аватар">
                                        </picture>
                                        <input type="file" name="avatar" id="avatar" class="form__avatar">
                                    </label>
                                </div>
                                <div class="form__section">
                                    <h3 class="form__settings-title">Вася Петров</h3>
                                    <label class="form__label">
                                        <span class="form__title">Имя</span>
                                        <input type="text" name="first_name" id="first_name" class="form__input" value="Вася">
                                    </label>
                                    <label class="form__label">
                                        <span class="form__title">Фамилия</span>
                                        <input type="text" name="second_name" id="second_name" class="form__input" value="Петров">
                                    </label>
                                    <label class="form__label">
                                        <span class="form__title">Логин</span>
                                        <input type="text" name="login" id="login" class="form__input" value="IvanDrago">
                                    </label>
                                    <label class="form__label">
                                        <span class="form__title">Электронная почта</span>
                                        <input type="text" name="email" id="email" class="form__input" value="pochta@yandex.ru">
                                    </label>
                                    <label class="form__label">
                                        <span class="form__title">Телефон</span>
                                        <input type="text" name="phone" id="phone" class="form__input" value="+79998845735">
                                    </label>
                                    <div class="form__button-wrapper">
                                        <button class="form__change-password" type="button">Изменить пароль</button>
                                    </div>
                                    <div class="form__submit-wrapper">
                                        <button type="button" class="form__submit">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{> change}}
</main>
{{> footer}}